<footer class="footer">
  <div class="container">
  <div class="row align-items-center">
     <div class="col-4">
      <p class="footer_about">
        Все мойки самообслуживания Петербурга <br/>
          В одном приложении<br/>
          Делись мнениями оценивай
      </p>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <p id="footer_relisedate"> 31.13.20</p>
    </div>
  </div>
  </div>
  <div id='footer_bluestripe'></div>
</footer>




<script src="js/main.min.js"></script>
