<section class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
      <div class="section_wrapper_brand">
        <p class="section_wrapper_brand_text">
          Self 
          serv
          carwash
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <a href="https://www.apple.com/ru/ios/app-store/"><img class='img-fluid' src='./../img/appstore.png'/></a>
    </div>
    <div class="col-3">
      <img class='img-fluid' src='./../img/google.png'/>
    </div>
    <div class="col-2"></div>
    <div class="col-3">
      <div class="section_wrapper_city">
        <p>Saint-Petersburg</p>
      </div>
    </div>
  </div>
</section>
