//colors

$themeBlue: #2dc9f7;

//sizes
$i12i: 0.833vw;
$i14i: 0.9722vw;
$i16i: 1.111vw;
$i20i: 1.4vw;
$i60i: 9vw;


@mixin button-reset {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: #fff;
   cursor: pointer;
   outline: none;
   margin: 0;
}
